:root {
  --primary: #606c38ff;
  --dark: #283618ff;
  --bg: #fefae0ff;
  --accent: #dda15eff;
  --secondary: #bc6c25ff;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--dark);
  margin: 0;
}

header {
  background: var(--dark);
  padding: 1rem 2rem;
}

nav a {
  color: var(--bg);
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent);
}

#app {
  padding: 2rem;
}

a {
  color: var(--secondary);
}
